<html>

<body>
    <table border=1 frame=void rules=rows style='
            font-family: Arial, Helvetica, sans-serif;
            border: solid black 2px;
         width: 50%;'>
        <tr>
            <td>
                <b>Sales Rep:</b>
            </td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>
                <b>Estimate Number:</b>
            </td>
            <td>{{number}}</td>
        </tr>
        <tr>
            <td>
                <b>FFA Manufacturers:</b>
            </td>
            <td>{{ffa}}</td>
        </tr>
        <tr>
            <td>
                <b>Job Pricing Manufacturers:</b>
            </td>
            <td>{{job}}</td>
        </tr>
        <tr>
            <td>
                <b>Needed by:</b>
            </td>
            <td>{{need}}</td>
        </tr>
        <tr>
            <td>
                <b>Price Point:</b>
            </td>
            <td>{{price}}</td>
        </tr>
        <tr>
            <td>
                <b>Reason for Floor Pricing:</b>
            </td>
            <td>{{floor}}</td>
        </tr>
        <tr>
            <td>
                <b>Payment Type:</b>
            </td>
            <td>{{pay}}</td>
        </tr>
        <tr>
            <td>
                <b>Number of Shipments:</b>
            </td>
            <td>{{ship}}</td>
        </tr>
        <tr>
            <td>
                <b>Additional Notes:</b>
            </td>
            <td>{{notes}}</td>
        </tr>
    </table>
</body>

</html>